.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10px 5% 10px;
  border-radius: 15px;
  width: 40%;
  background: rgb(90,131,207);
  background: linear-gradient(0deg,  rgba(101,193,212,0.95) 4%, rgba(222, 248, 248, 0.91) 27%);
}