.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: azure;
    border: orange solid 2px;

    .link {
        color: #003459;
        text-decoration: underline;
        margin-top: 28px;
        margin-right: 5%;
    }
    
    .home-icon{
        margin-left: -65%;
        width: 27%;
    }
}



