body {
  display: flex;
  flex-direction: column;
}

.stations {
  display: flex;
  flex-wrap: wrap;
  background: url(../../Assets/USMap.png);
  background-size: cover;
  background-position: fit-content;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 20px 20px 20px;
  width: fit-content;
  height: auto;
  border-radius: 10px;
  border: darkblue solid 3px;
  
  .station-card {
    background: linear-gradient(0deg,  rgba(101,193,212) 4%, rgba(222, 248, 248));
    height: auto;
    width: 25vw;
  }
}